main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ok-section {
    box-sizing: border-box;
    padding: 0 1rem;
    color: #628500;
    border: 1px solid #628500;
}

.fail-section {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
    color: #ca3232;
    border: 1px solid #ca3232;
}